html, body {
    height: 100%;
}

body {
    font-family: "fira sans", sans;
    line-height: 1.5em;
    font-size: 1.1em;
    color: #3F3B3B;
    background: #E9EAED;
}

a {
    text-decoration: none;
    color: #A22430;
}

.page {
    padding: 40px 0;
    width: 960px;
    margin: 0 auto;
    overflow: auto;
}

.intro-section {
    text-align: center;
    padding: inherit;
    border-bottom: 1px solid #B9BCC6;
}

.intro-section h2 {
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 2.6em;
    line-height: 1.3em;
    margin-top: 20px;
    font-weight: 300;
    max-width: 760px;
}

.intro-section .download-buttons {
    margin-top: 40px;
}

.intro-section .download-buttons a {
    background-color: #A22430;
    color: white;
    display: inline;
    padding: 8px 15px;
    border-radius: 3px;
    margin-right: 10px;
    border: 1px solid #7D1C25;
}

.intro-section .download-buttons a:hover {
    background-color: #7D1C25;
}

.paragraph {
    padding-bottom: 10px;
}

footer {
    text-align: center;
    border-top: 1px solid #B9BCC6;
}